<div class="jumbotron mt-3">
  <h1 class="display-4">Welcome! e_Learn Institute</h1>
  <p class="lead">First ever online tution institute in Sri Lanka.</p>
  <hr class="my-4">
  <p>Not registered yet? Create an account free here</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/users/register/" role="button">REGISTER</a>
  </p>
</div>